/* seccion nosotros */

.nosotros {
    text-align: center;
    font-size: 1.5em;
    padding:  2rem;
}

.bloque__maps {
    @include flex(column, center, center, null);
    
    &__h3 {
        margin-bottom: 2rem;
        text-align: center;
    }
    iframe {
        padding: 10px;
        width: 70%;
    }
}

.acerca__titulo {
        font-weight: bolder;
        margin-bottom: 3rem;
}

.bloque__maps__h3 {
    & h3 {
        @extend .acerca__titulo;

    }
}



